footer {
    background: #f8f9fa!important;
    width: 100%;
}

ul {
    margin-left: 0!important;
}

li {
    list-style-type: none;
}

.footer-link {
    color: black;
}

.footer-form-wrapper {
    width: 100%;
    position: relative;
}

h4 {
    color: black!important;
}